In [3]:
C = 0
C = 5/2
C

2.5

In [6]:
c = 'a'
type(c)

str

In [15]:
name, roll, age = 'babu', 123, 26.4
type(roll)

int

In [17]:
a,b = 10,20
a,b =b,a
a
b

10

In [4]:
def sumofsquares(lb,ub):
    sum = 0
    for i in range(lb,ub+1):
        sum += i ** 2
    print(sum)
sumofsquares(1,5)
s = input()
lb = s[0]
ub = s[1]
sumofsquares(lb,ub)

55

#  membership operator

In [5]:
5 in [1,2,34]

False

# identity operator

In [6]:
5 is 5

True

# conditional control statements

    - IF
    - IF ELSE (more than one condition then we are using this IF ELSE condition)
    - NESTED IF ELSE

In [8]:
# IF STATEMENT(I TAB SPACE IS 4 SPACES)

if (5<6):
    print("True")
else:
    print("False")

True

# Iterative statements

    - for
    - while

In [9]:
# for statement


range(10)

range(0, 10)

In [11]:
range(2,10,2) # in range 1 increment is minimum and 3 is maximum

range(2, 10, 2)

In [14]:
for x in range(2,10,2):
    print(x)

2
4
6
8

In [18]:
for x in range(2,10,2):
    print(x, end =",")

2,4,6,8,

In [21]:
# WHILE LOOP


num = 1
while num < 6:
    print(num)
    num += 1

1
2
3
4
5

In [22]:
for i in 1,2,3:
    print(i)

1
2
3

In [24]:
for i in range(10,4,-1):
    print(i)

10
9
8
7
6
5

In [25]:
for i in 1:
    print(i) # it is not executed why because integer is storing in the i varable

TypeError: 'int' object is not iterable

In [26]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
print(1,2) # by default in print command space will print in the output

1 2

In [28]:
print(1,2,sep = ",")# here we are using SEP operation to seperate with comma

1,2

In [29]:
print(3,4,sep = ":")

3:4

In [31]:
print(1,2,sep = ",", end = "*")
print(3,sep = ":")    # here are SEP is not performing why because only one integer is declared

1,2*3

# jumping staements

      - Break
      - continue

# input method

In [33]:
n = input("enter the value:")
print(n)

enter the value:12.3
12.3

In [34]:
1 + "2" # here  we are adding one integer and string so "+" operation is not performed for two different types

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
1+int("2") # here we are converting the string into integer and then we are adding the same type of values

3

In [36]:
num = 10
print(num)
print(Num) # here the error shows that the declare varable is different from the print varable

10

NameError: name 'Num' is not defined

In [40]:
l = [1,10,20]
l[0]
l[1]
l[2]
l[3] # here the error shows why because we are exceeding the limit of "l"

IndexError: list index out of range

In [43]:
li = []
li = input()

1 2 3

In [5]:
print(len(input().split()))

1 2 45
3

In [1]:
li =[]
li = input()
count = 0
for i in li.split():
    count += 1

print(count)

1 2 3 45
4

In [9]:
for i in 1,2,3:
    print(i)
print(i)

1
2
3
3

In [40]:
s = input("enter the string : ")
y = s.split(",")
x = 0
count = 0
for i in y:
    x =x + int(i)
    count += 1
print(x)
print(count)
print(x//count)

enter the string : 1,2,3,4
10
4
2

In [35]:
l = ['1','2','3']
r = []
for value in l:
     r.append(int(value))
r # to change into string this method is used

[1, 2, 3]

In [38]:
del sum

# MAP method  --> (method_name,list_of_values)

In [39]:
data = input()
values = data.split(",")
int_values = list(map(int,values))
sum(int_values)

1,2,3,4

10

In [ ]:
t = int(input())
for i in range(1,t+1):
    s = input().split("+")
    li=[]
    for i in s:
        li.append(int(i))
    x = sorted(li)
    #print(min(x))
    #print(max(x))
    print(li[0])
    print(li[-1])

3
7+13+2
7
[7, 13]

# s = input().split("+")
x= sorted(s)
print(x)
print(max(int(x)))
print(min(int(x)))